<head>
    <link rel="stylesheet" href="/public/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
</head>

<div class="menu">
    <header>
        <p class="header"><i class="fa fa-sticky-note"></i> MyMemo</p>
    </header>
    <nav>
        <a href="/" class="nav"><i class="fa fa-home"></i> 홈 화면</a>
        <a href="/write" class="nav"><i class="fa fa-pen-square"></i> 새 노트 작성</a>
    </nav>
    <footer>
        <p class="footer"><i class="fab fa-instagram"></i> @choi2j</p>
        <p class="footer"><i class="fab fa-github"></i> https://github.com/choi2j</p>
    </footer>
</div>